
#box
{
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	vertical-align: center;
}


.P2
{

margin:50px;
}

.P3
{
margin: 50px;
}

.P4
{
margin: 50px;
}



.bouton
{
	padding: 10px 25px;
	border-width: 2px;
	cursor:pointer;
	text-decoration: none;
	font-weight:bold;
	border-radius: 7px;
	border-image: linear-gradient(to right,#43A047,#69F0AE);
	background:linear-gradient(to right,#43A047,#69F0AE);
	transition-property: linear-gradient;
    transition-duration: 10s;
}

.bouton:hover{
/*color:#fff;*/
border-image: linear-gradient(to right,#1db0dc,#23d0d3);
background:linear-gradient(to right,#1db0dc,#23d0d3);
transition: all 2s ease 0s;
filter: hue-rotate(0deg) saturate(1);

}


.tow-vertical:before{
  bottom:100%; 
}
.tow-vertical:hover:before{
  bottom:49%;
}
.tow-vertical:after{
  top:100%;
}
.tow-vertical:hover:after{
  top:49%;
}

.bouton2
{
	padding: 10px 25px;
	border-width: 2px;
	border-image: linear-gradient(to right,#43A047,#69F0AE);
	background:linear-gradient(to right,#43A047,#69F0AE);
	color:#fff;
	cursor:pointer;
	text-decoration: none;
	font-weight:bold;
	transition: all 0.3s ease 0s;
	filter: hue-rotate(0deg) saturate(1);
	border-radius: 7px;


}




