

body
{
  margin:0px;
}


body
{

width: 100%;
padding-bottom:60px;
margin: 0;

}	



#bloc_page /* le contenru de ma page*/
{
	
	width: 40%;
	margin:auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

}


footer
{

width: 40%;
display: flex;
justify-content: space-between;
position: fixed;
bottom:0; 
background-color: #009688;

}



header
{
	display: flex;
	justify-content: center;
	background-color: #009688;
		

}

header h1 
{
	color: #FDD835;
	text-transform: lowercase;
	font-family: truenosemibold,Arial,sans-serif;
	letter-spacing: -2px;
}

.cadre 
{
	display: flex;
	flex-direction: column;
	justify-content: center;	
	margin-top: 20px;
	margin-bottom:20px; 


}





article

{
text-align: justify;


}


a{

	text-decoration: none;
}

#menus img
{

width: 100%;
}




.bouton
{
	
	justify-content: center;
	background-color:#009688;
	border-radius: 5px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
	width: 40%;
	margin-right: auto;
	margin-left: auto;




}

p{
	color: #263238;
	font-size: 20px;
}


.ml
{
 color: #FDD835;
}

.mention
{
	padding:5px;
}


.papa p
{
	color:#FDCB46 ;
}


div.mention {
  display: inline-block;
  animation: wiggle 2.5s infinite;
}

div.mention:hover {
  animation: none;
}






a.papa
{
	display: block;


}

a.papa :hover
{
	animation: wiggle 75ms infinite;
	animation-timing-function: linear;
}

@keyframes wiggle
{
	0% { transform: translate(2px, 0); }
  50% { transform: translate(-2px, 0); }
  100% { transform: translate(2px, 0); }
}


@media all and (max-width: 900px){

		#bloc_page{width:100%;min-width: 370px;}
		footer{width:100%}
		

	}