@font-face {
    font-family: 'masthinaregular';
    src: url('Polices/masthina-webfont.woff2') format('woff2'),
         url('Polices/masthina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'honeyregular';
    src: url('Polices/honey-webfont.woff2') format('woff2'),
         url('Polices/honey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fabitha_scriptregular';
    src: url('Polices/fabitha_script-webfont.woff2') format('woff2'),
         url('Polices/fabitha_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'abecedaryregular';
    src: url('Polices/abecedary-webfont.woff2') format('woff2'),
         url('Polices/abecedary-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'truenobold';
    src: url('truenobd-webfont.woff2') format('woff2'),
         url('truenobd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenobold_italic';
    src: url('truenobdit-webfont.woff2') format('woff2'),
         url('truenobdit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenobold_outline';
    src: url('truenobdol-webfont.woff2') format('woff2'),
         url('truenobdol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenobold_outline_italic';
    src: url('truenobdolit-webfont.woff2') format('woff2'),
         url('truenobdolit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenoblack';
    src: url('truenoblk-webfont.woff2') format('woff2'),
         url('truenoblk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenoblack_italic';
    src: url('truenoblkit-webfont.woff2') format('woff2'),
         url('truenoblkit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenolight';
    src: url('truenolt-webfont.woff2') format('woff2'),
         url('truenolt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenoultralight';
    src: url('truenoultlt-webfont.woff2') format('woff2'),
         url('truenoultlt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenosemibold';
    src: url('truenosbd-webfont.woff2') format('woff2'),
         url('truenosbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenolight_italic';
    src: url('truenoltit-webfont.woff2') format('woff2'),
         url('truenoltit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenoextrabold';
    src: url('truenoexbd-webfont.woff2') format('woff2'),
         url('truenoexbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenoultralight_italic';
    src: url('truenoultltit-webfont.woff2') format('woff2'),
         url('truenoultltit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dancing_scriptregular';/*le delice*/
    src: url('Polices/dancingscript-variablefont_wght-webfont.woff2') format('woff2'),
         url('Polices/dancingscript-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
  margin:0px;
}





#bloc_page /* le contenru de ma page*/
{
	
	width: 40%;
	margin:auto;
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 50px;

}


header
{
	display: flex;
	justify-content: center;
	background-color: #579C87;
		

}

header h1 
{
color: #FDD835;
text-transform: lowercase;
font-family: truenosemibold,Arial,sans-serif;
letter-spacing: -2px;
}

section 
{
	display: flex;
	flex-direction: column;
	justify-content: center;	
	margin-top: 20px;
	margin-bottom:20px; 


}


article

{
padding-left:15px;
padding-top:2px;
padding-bottom: 2px;
padding-right: 15px;


}

#menus img
{

width: 100%;
}

a{

	text-decoration: none;
}


.ligne1
{
	display:flex;
	flex-direction:row;
	padding-top: 5px;
	margin-bottom: 10px;
	
}

.ligne2
{
	display:flex;
	flex-direction:row;
	
	padding:0px;
	padding-top: 5px;

}

.restau
{
	box-shadow: 0.5px 0px 10px #E0E0E0;
	transition: 1s;
	cursor: zoom-in;
	opacity: 1;

}

.restau:hover
{
box-shadow: 2px 2px 2px #B0BEC5;
transform:scale(1.3);
opacity: 0.5;
}

.box{
	overflow: hidden;
}

.bouton
{
	
	justify-content: center;
	background-color:#009688;
	border-radius: 5px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	align-items: center;
	min-width: 200px;
	
}

.loading span
{
width: 8px;
height: 8px;
margin :0 5px;
background-color: #ffd957;
border-radius: 50%;
display: inline-block;
animation-name: dots;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;

}

.loading span:nth-child(3)
{
background-color:#ff8b57;
animation-delay: 0.6s;
}


p{
	color: #FDD835;
	font-size: 20px;
}


a.papa
{
	display: block;


}

a.papa :hover
{
	animation: wiggle 75ms infinite;
	animation-timing-function: linear;
}

@keyframes wiggle
{
	0% { transform: translate(2px, 0); }
  50% { transform: translate(-2px, 0); }
  100% { transform: translate(2px, 0); }
}

footer
{

width: 40%;
margin-right: auto;
margin-left: auto;
display:flex;
justify-content: space-around;
background-color: #579C87 ;
position:fixed;
bottom: 0;
}



article p
{

	color: black;
	text-align:justify;
}


#fond
{
	background-color: #EDEFEF;
	text-align: justify;

}

#fond p
{
	font-size: 16px;
	font-stretch: ultra-expanded;

}

  
h2 {
background: linear-gradient( 150deg,#0228DD 40%,#01AAFB 60%);
-webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}



h2{
	text-align: center;
  font-family: dancing_scriptregular,Arial,sans-serif;
  font-size: 3em;
}

h3{
   min-width: 170px;
  font-size: 1em;
  font-family: abecedaryregular,Arial,sans-serif;
  max-width: 960px;
  margin: 10px auto;}
.title{
  overflow: hidden;
  text-align: center;}
/*
  .title span{
    position: relative;
    padding: 1em;} 
    .title span:before,
    .title span:after{
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      background: #000;
      width: 800px;
      top: 50%;
      margin-top: -1px;}
    .title span:before{
      right: 100%;}
    .title span:after{
      left: 100%;}

*/
table
{
	font-family: abecedaryregular,Arial,sans-serif;
	width: 100%;
	font-size: .9rem;
}

td{
	padding: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align:justify;
   
    
}

td.prix
{
	
	text-align: right;
}

h3 a{
	text-decoration: none;
	color:inherit;
	background: linear-gradient(to top,rgba(38,166,154 ,1)0%, rgba(38,166,154 ,1) 8%,transparent 8.01%) no-repeat;
	background-size: 0 100%;
	transition: background-size .9s;
}


h3 a:hover
{
	background-size: 100% 100%;
}

div.trait
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
}

.trait img
{
  max-width: 100%;
  max-width:100%;
}




@media all and (max-width: 950px){

   #bloc_page{width:100%;background-color:#EDEFEF;padding-bottom: 500px}
    body{min-width: 400px;}
    .bouton{width: 100%;}
    footer{width: 100%;}
    div.trait{width: 100%;}

	}




	@keyframes dots
{
	50%{ opacity:0;
	transform: scale(0.7)translateY(0.5PX);
}




