
@font-face {
    font-family: 'masthinaregular';
    src: url('Polices/masthina-webfont.woff2') format('woff2'),
         url('Polices/masthina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'honeyregular';
    src: url('Polices/honey-webfont.woff2') format('woff2'),
         url('Polices/honey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fabitha_scriptregular';
    src: url('Polices/fabitha_script-webfont.woff2') format('woff2'),
         url('Polices/fabitha_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'abecedaryregular';
    src: url('Polices/abecedary-webfont.woff2') format('woff2'),
         url('Polices/abecedary-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'truenobold';
    src: url('Polices/truenobd-webfont.woff2') format('woff2'),
         url('Polices/truenobd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenobold_italic';
    src: url('Polices/truenobdit-webfont.woff2') format('woff2'),
         url('Polices/truenobdit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenobold_outline';
    src: url('Polices/truenobdol-webfont.woff2') format('woff2'),
         url('Polices/truenobdol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenobold_outline_italic';
    src: url('Polices/truenobdolit-webfont.woff2') format('woff2'),
         url('Polices/truenobdolit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenoblack';
    src: url('Polices/truenoblk-webfont.woff2') format('woff2'),
         url('Polices/truenoblk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenoblack_italic';
    src: url('Polices/truenoblkit-webfont.woff2') format('woff2'),
         url('Polices/truenoblkit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenolight';
    src: url('Polices/truenolt-webfont.woff2') format('woff2'),
         url('Polices/truenolt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenoultralight';
    src: url('Polices/truenoultlt-webfont.woff2') format('woff2'),
         url('Polices/truenoultlt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenosemibold';
    src: url('Polices/truenosbd-webfont.woff2') format('woff2'),
         url('Polices/truenosbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenolight_italic';
    src: url('Polices/truenoltit-webfont.woff2') format('woff2'),
         url('Polices/truenoltit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenoextrabold';
    src: url('Polices/truenoexbd-webfont.woff2') format('woff2'),
         url('Polices/truenoexbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'truenoultralight_italic';
    src: url('Polices/truenoultltit-webfont.woff2') format('woff2'),
         url('Polices/truenoultltit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {/* pour accueil menu 3 et 4*/
    font-family: 'dupreelight';
    src: url('Polices/duprl___-webfont.woff2') format('woff2'),
         url('Polices/duprl___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face { /* pour accueil menu 3 et 4*/
    font-family: 'dupreeregular';
    src: url('Polices/duprrg__-webfont.woff2') format('woff2'),
         url('Polices/duprrg__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'croissant_oneregular';/*menu2*/
    src: url('Polices/croissantone-regular-webfont.woff2') format('woff2'),
         url('Polices/croissantone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'dancing_scriptregular';/*le delice*/
    src: url('Polices/dancingscript-variablefont_wght-webfont.woff2') format('woff2'),
         url('Polices/dancingscript-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'devonshireregular';
    src: url('Polices/devonshire-regular-webfont.woff2') format('woff2'),
         url('Polices/devonshire-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kalambold';
    src: url('Polices/kalam-bold-webfont.woff2') format('woff2'),
         url('Polices/kalam-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kalamlight';
    src: url('Polices/kalam-light-webfont.woff2') format('woff2'),
         url('Polices/kalam-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kalamregular';
    src: url('Polices/kalam-regular-webfont.woff2') format('woff2'),
         url('Polices/kalam-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('Polices/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('Polices/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'architects_daughterregular';
    src: url('Polices/architectsdaughter-regular-webfont.woff2') format('woff2'),
         url('Polices/architectsdaughter-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'caveatregular';
    src: url('caveat-regular-webfont.woff2') format('woff2'),
         url('caveat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'caveatbold';
    src: url('Polices/caveat-bold-webfont.woff2') format('woff2'),
         url('Polices/caveat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vidaloka_regular';
    src: url('Polices/vidaloka-regular-webfont.woff2') format('woff2'),
         url('Polices/vidaloka-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'rulukoregular';
    src: url('ruluko-regular-webfont.woff2') format('woff2'),
         url('ruluko-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kite_oneregular';
    src: url('Polices/kiteone-regular-webfont.woff2') format('woff2'),
         url('Polices/kiteone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}