.mus{color:#fec907}
.cadre2{margin-bottom:20px;text-align:justify}
.titre{font-weight:700;font-size:15px}
.para{font-size:16px}
.poste{font-size:16px;font-weight:700;margin:0;}
body{width:100%;margin:10px;padding:0}
header{height:10%}#cadre{display:flex;justify-content:center;margin:auto;width:auto}
aside{width:16%;background-color:#fec907}
img{width:150px;height:150px;object-fit:cover}
section{width:35%}h1{margin-bottom:0}
.cadrage{margin-left:auto;margin-right:auto;width:200px}
.dwf{font-size:small;padding-left:0;margin-top:0;margin-bottom:0}
.dwf2{margin-top:0;margin-bottom:0}
hr{width:90%;margin:5px auto;height:1.7px;background-color:#fec907;border:none}
.souligne{text-decoration:underline #fec907;width:10px}article{margin-top:10px}
.article_1{margin-top:10px;margin-bottom:10px}
.art{display:flex}
#pen{padding-left:34px;color:#fec907;padding-top:5px}
h3{padding-left:20px;margin-bottom:0}
.icone{margin-bottom:0;padding-left:34px;color:#fec907;padding-top:5px}
.contact{background-color:#293d3d;font-weight:700;text-align:center;color:#fec907;margin:0}
.coordonnees{font-size:16px;padding-top:0;padding-bottom:0;padding-left:5px}
.photo{text-align:center;margin-top:30px;margin-bottom:20px;border-radius:75px}
.arrondie{border-radius:80px}.apropos{font-size:16px;text-align:justify;padding:5px}
.place_1{width:30%;height:40px;background-color:#4fc3f7;margin:auto}
.place_2{width:30%;height:40px;background-color:#00e676;margin:auto}
.place_3{width:30%;height:40px;background-color:#ff8f00;margin:auto}
.article_3{margin-bottom:0;padding-bottom:0}.loisirs{margin-top:250px}
.fas{font-size:12px}
.rando{width:32px;height:32px}
#sport{display:flex;justify-content:space-around;margin-bottom:50px;margin-top:30px}
.point{color:#fec907}
.premierpoint{color:#fec907}
.point2{color:#000;font-size:14px;padding-top:0}
.point1{color:#000;font-size:12px;padding-top:30px}
.point3{color:#000;margin-top:20px;padding-top:98px}
.point4{color:#000;font-size:12px;padding-top:88px}
.point5{color:#000;font-size:12px;padding-top:70px}
.premierpoint li{font-size:18px}footer{display:flex;justify-content:space-around;font-size:14px;padding-top:0}
.ligne{display:flex;flex-direction:row}
.ligned{padding-left:80px}

@media screen and (max-width:640px){
	aside{width:100%}
	#cadre{flex-direction:column}
	section{width:100%}
	body{margin:0}
	#cadre{width:100%}
	.loisirs{margin-top:30px}
	.point3{color:#000;margin-top:20px;padding-top:92px}
	.point4{color:#000;font-size:12px;padding-top:67px}
	.point5{color:#000;font-size:12px;padding-top:49px}
	.coordonnees{font-size:20px}
	.apropos{font-size:20px;text-align:justify;padding:5px}
	.loisirs{margin-top:50px}
	}


	@media screen and (min-width :641px) and (max-width :1024px){
		aside{width:100%}
		#cadre{flex-direction:column}
		section{width:100%}
		body{margin:0}
		#cadre{width:100%}
		.loisirs{margin-top:30px}
	}