.mus {
    color: #fec907;
}

.cadre2 {
    margin-bottom: 20px;
    text-align: justify;
}

.titre {
    font-size: 15px;
    font-weight: 700;
}

.para {
    font-size: 16px;
}

.poste {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

body {
    width: 100%;
    margin: 10px;
    padding: 0;
}

header {
    height: 10%;
}

#cadre {
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
}

aside {
    width: 20%;
    background-color: #fec907;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

section {
    width: 35%;
}

h1 {
    margin-bottom: 0;
    font-size: 31px;
}

.cadrage {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.dwf {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    font-size: small;
}

.dwf2 {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    width: 90%;
    height: 1.7px;
    margin: 5px auto;
    border: none;
    background-color: #fec907;
}

.souligne {
    width: 10px;
    text-decoration: underline #fec907;
}

article {
    margin-top: 10px;
}

.article_1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.art {
    display: flex;
}

#pen {
    padding-top: 5px;
    padding-left: 34px;
    color: #fec907;
}

h3 {
    margin-bottom: 0;
    padding-left: 20px;
}

.icone {
    margin-bottom: 0;
    padding-top: 5px;
    padding-left: 34px;
    color: #fec907;
}

.contact {
    margin: 0;
    text-align: center;
    font-weight: 700;
    color: #fec907;
    background-color: #293d3d;
}

.coordonnees {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    font-size: 16px;
}

.photo {
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 75px;
    text-align: center;
}

.arrondie {
    border-radius: 80px;
}

.apropos {
    padding: 5px;
    text-align: justify;
    font-size: 16px;
}

.place_1 {
    width: 30%;
    height: 40px;
    margin: auto;
    background-color: #4fc3f7;
}

.place_2 {
    width: 30%;
    height: 40px;
    margin: auto;
    background-color: #00e676;
}

.place_3 {
    width: 30%;
    height: 40px;
    margin: auto;
    background-color: #ff8f00;
}

.article_3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.loisirs {
    margin-top: 250px;
}

.fas {
    font-size: 12px;
}

.rando {
    width: 32px;
    height: 32px;
}

#sport {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;
}

.point {
    color: #fec907;
}

.premierpoint {
    color: #fec907;
}

.point2 {
    padding-top: 0;
    font-size: 14px;
    color: #000;
}

.point1 {
    padding-top: 30px;
    font-size: 12px;
    color: #000;
}

.point3 {
    margin-top: 20px;
    padding-top: 98px;
    color: #000;
}

.point4 {
    padding-top: 88px;
    font-size: 12px;
    color: #000;
}

.point5 {
    padding-top: 70px;
    font-size: 12px;
    color: #000;
}

.premierpoint li {
    font-size: 18px;
}

footer {
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    font-size: 14px;
}

.ligne {
    display: flex;
    flex-direction: row;
}

.ligned {
    padding-left: 80px;
}

@media screen and (max-width:640px) {
    aside {
        width: 100%;
    }

    #cadre {
        flex-direction: column;
    }

    section {
        width: 100%;
    }

    body {
        margin: 0;
    }

    #cadre {
        width: 100%;
    }

    .loisirs {
        margin-top: 30px;
    }

    .point3 {
        margin-top: 20px;
        padding-top: 92px;
        color: #000;
    }

    .point4 {
        padding-top: 67px;
        font-size: 12px;
        color: #000;
    }

    .point5 {
        padding-top: 49px;
        font-size: 12px;
        color: #000;
    }

    .coordonnees {
        font-size: 20px;
    }

    .apropos {
        padding: 5px;
        text-align: justify;
        font-size: 20px;
    }

    .loisirs {
        margin-top: 50px;
    }
}

@media screen and (min-width:641px) and (max-width:1024px) {
    aside {
        width: 100%;
    }

    #cadre {
        flex-direction: column;
    }

    section {
        width: 100%;
    }

    body {
        margin: 0;
    }

    #cadre {
        width: 100%;
    }

    .loisirs {
        margin-top: 30px;
    }
}